@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swatch_1 {
  background: #efeff6;
}

.swatch_2 {
  background: #bec0d5;
}

.swatch_3 {
  background: #9fa0a2;
}

.swatch_4 {
  background: #1816ff;
}

.swatch_5 {
  background: #6562f9;
}

.color_5 {
  color: #6562f9;
}

.swatch_6 {
  background: #616266;
}

.color_white {
  color: white;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: #bec0d5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #bec0d5, #efeff6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #bec0d5, #efeff6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 79.5vh;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  color: #6562f9;
  text-decoration: none;
}

a:hover {
  color: #1816ff;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SIGN UP */
.my-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 12rem;
  border: 2px solid #efeff6;
  border-radius: 3px;
  padding: 30px 100px;
  background-color: white;
}

button {
  padding: 1rem;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 4px !important;
  width: 100%;
  text-align: center;
  box-shadow: 0px 8px rgb(101, 98, 249, 0.1);
  cursor: pointer;
}

button:hover {
  transform: scale(0.98);
  font-size: 1.1rem;
}

/* FORGOT */
.forgot {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 3px;
}

/* LINK */
.router-link {
  border: 1px solid transparent;
  text-decoration: none;
}